/* html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
} */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

/* html, body {background: #181818; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;} */

.clear {clear: both;}

/* p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
} */
CVWrapper {
	display: block;
	margin-left: auto;
    margin-right: auto;
	/* margin: 10px; */
	padding: 10px;
	background: #eee;
}
.btn {
	background-color: #4D4D4D;
	border: none;
	color: white;
	margin: 0 0 0 31px;
	padding: 4px 4px 2px 4px;
	cursor: pointer;
	font-size: 14px;
}
/* Darker background on mouse-over */
.btn:hover {
	background-color: RoyalBlue;
}
#cv {
	width: 70%;
	border: 1px solid #999;
	margin-left: auto;
    margin-right: auto;
	/* max-width: 1000px; */
	background: #eee;
	font-family: Garamond, Helvetica, Arial, sans-serif;
	line-height: 1.2;
}
div ul {
	list-style: square;
	padding: 5px 0 0 30px;
}
div ul ul{
	list-style: circle;
	padding-left: 50px;
}
div ol{
	list-style: decimal;
	padding: 5px 0 0 30px;
}
.mainDetails {
	padding: 10px;
	border-bottom: 2px solid #666;
	background: #eee;
}

#name h1 {
	font-size: 2em;
	font-weight: 600;
	font-family: Garamond, Helvetica, Arial, sans-serif;
	margin: 0px;
}

#name h2 {
	font-size: 1.7em;
	font-family: Garamond, Helvetica, Arial, sans-serif;
}

#mainArea {
	padding: 0 30px 0 10px;
}

#headshot {
	width: 30%;
	float: left;
	margin: 10px;
}

#headshot img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

#name {
	/* float: right; */
	text-align: center;
	margin: 15px;
}

#contactDetails {
	float: right;
	font-size: 17px;
	margin: 20px;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

/* #contactDetails ul li a, a[href^=tel] { */
	/* color: #444;  */
	/* text-decoration: none; */
	/* -webkit-transition: all .3s ease-in; */
	/* -moz-transition: all .3s ease-in; */
	/* -o-transition: all .3s ease-in; */
	/* -ms-transition: all .3s ease-in; */
	/* transition: all .3s ease-in; */
/* } */

#contactDetails ul li a:hover { 
	color: #666;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
	
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
	margin: 7px;
}

.sectionContent {
	float: right;
	width: 72.5%;
	margin: 7px;
}

.sectionTitle h1 {
	font-family: Garamond, Helvetica, Arial, sans-serif;
	/* font-style: italic; */
	font-weight: bold;
	font-size: 1.5em;
	color: #666;
}

.sectionContent h2 {
	font-family: Garamond, Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	/* margin-bottom: -2px; */
}

.subDetails {
	font-size: 1em;
	font-style: italic;
	margin-bottom: 10px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		/* display: none; */
	}
	
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#headshot {
		/* display: none; */
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}
	
	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}

	
	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}
	
	#name h1 {
		font-size: 1.7em;
		line-height: 1.1em;
		margin-right: 5px;
	}

	#name h2 {
		font-size: 1.4em;
		line-height: .6em;
		margin: 5px;
	}
}

@media print {
    #cv {
        width: 100%;
    }
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* .instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}
 
.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
} */